{% load static %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="columnchart_no_of_openings" style="width: 100%;height: 300px">
    {%if not data%}
    Not records found
    {%endif%}
</div>


{% if data %}
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart_years);

      function drawChart_years() {
        var data = google.visualization.arrayToDataTable([

          ['', 'generation', 'irradiation'],
          {% for d in data %} [ '{{ d.0|safe }}', {{d.1}}, {{d.2}}], {%endfor%}

        ]);

        var options = {

            title: 'Date wise Generation and Irridatin for Plant_id:{{plant_id}}',
            colors: ['#F5CF50', '#84909B'],
            direction:-1, 
            slantedText:false, 
            // slantedTextAngle:90,
            // hAxis: {title: "dates" , direction:-1, slantedText:true, slantedTextAngle:90 }
            legend: {position: 'none'}
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_no_of_openings'));
        chart.draw(data, google.charts.Bar.convertOptions(options));

        }



        </script>

{%endif%}