<!DOCTYPE html>
<html lang="en">
<head>

     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

$(function(){
        $('.display_graph').load('/display/graph');
   });

$(document).on("change", "#plants, #dt1, #dt2 ", function() {
                  let plant_id = $('#plants').val();
                  let start_date = $('#dt1').val();
                  let end_date = $('#dt2').val();
                  $.ajax({
                            url : '/display/graph?plant_id='+ plant_id +'&start_date='+ start_date +'&end_date='+ end_date,
                            type: 'get',
                            success : function(response) {
                                      $('#display_graph').html('');
                                      $('#display_graph').html(response);
                                 },
                        });
});
    
  </script>
</head>

<body>
  <div>
<label for="Plants">Choose a Plant:</label>
<select name="plants" id="plants">
    {% for plant in plant_ids %}
    <option value="{{plant}}" >{{plant}}</option>
    {% endfor %}
</select>
</div><br>
Start:
<input type="date" id="dt1" value="{{min_date}}"/>

End:
<input type="date" id="dt2" value="{{max_date}}"/>

<div class= "display_graph" id="display_graph">
</div>

</body>
</html>